{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2>{{post.title}}</h2>
        <p>{{ post.text }}</p>
        {% if user == post.owner %}
          <a class="btn btn-primary" href="{% url 'updated_post' post.pk %}" role="button">Change</a>
          <a class="btn btn-primary" href="{% url 'del_post' post.pk %}" role="button">Delete</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}